

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<!-- Top Bar -->
<div class="top-bar">
    <div class="contact">Need help? Call us: (+81) 0234 456 789</div>
    <div class="actions">
        <a href="#" class="store-link">
            <img src="/images/location.png" alt="Store" class="icon">
            Our store
        </a>
        <a href="#" class="track-order">
            <img src="/images/track.png" alt="Track" class="icon">
            Track your order
        </a>
    </div>
</div>

<!-- Main Navigation -->
<nav class="main-nav">
    <div class="logo">
        <a href="/">
            <img src="/images/CAMZONE.png" alt="CameraZone">
        </a>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search any thing">
        <button type="submit">Search</button>
    </div>
<div class="nav-actions">
        <a href="/account">
            <img src="/images/user.png" alt="Account" class="icon">
            My Account
        </a>
        <a href="/cart">
            <img src="/images/shopping-cart.png" alt="Cart" class="icon">
            Cart <span class="cart-count">0</span>
        </a>
        <a href="/wishlist">
            <img src="/images/heart.png" alt="wishlist" class="icon">
            wishlist
        </a>
        <a href="/signin" class="active">Sign In</a>
    </div>
</nav>

<!-- Sub Navigation -->
<div class="sub-nav">
    <div class="links">
        <a href="/" class="active">Home</a>
        <a href="/catalog">Catalog</a>
        <a href="/contact">Contact Us</a>
        <a href="/about">About us</a>
    </div>
    <div class="return-policy">30 Days Free Return</div>
</div>