/* Modal styling */
.category-modal {
    background-color: #1e1e1e;
    padding: 20px;
    border: 1px solid #fca311;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.category-modal h2 {
    text-align: center;
    color: #fca311;
    border: 1px solid #fca311;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 8px 0;
    font-weight: lighter;
}

/* Form styling */
.category-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

.form-group label .required {
    color: #ff4d4d;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: 1px solid #fca311;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #fca311;
    box-shadow: 0 0 5px #fca311;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.checkbox-group {
    display: flex;
    align-items: center;
    color: #ccc;
    font-weight: 400;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    color: #ccc;
}

.checkbox-group input {
    width: auto;
    margin-left: 20px;
    text-align: center;
    margin-top: 4px
}


/* Button styling */
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.add-btn {
    background-color: #333;
    border: 1px solid #FCA311;
    color: #FCA311;
}

.add-btn:hover {
    background-color: #5a6268;
}

.save-btn {
    background-color: #333;
    border: 1px solid #FCA311;
    color: #FCA311;
}

.save-btn:hover {
    background-color: #5a6268;
}

.cancel-btn {
    background-color: #333;
    border: 1px solid #FCA311;
    color: #FCA311;
}

.cancel-btn:hover {
    background-color: #5a6268;
}

/* Modal-specific styling (if used) */
#addCategoryModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #3a3a3a;
}

#addCategoryModal.active {
    display: block;
}

/* Modal-specific styling (if used) */
#editCategoryModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #3a3a3a;
}

#editCategoryModal.active {
    display: block;
}