<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="/stylesheet/user/myAccount.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> >
        <a href="/account">My Account</a>
    </nav>

    <div class="account-container">
        <h2>Update profile</h2>
        <div class="account-options">
            <a href="/profile"><button>My Details</button></a>
            <a href="/myOrders"><button>My Orders</button></a>
            <a href=""><button>My Ratings</button></a>
            <a href=""><button>My Wish List</button></a>
            <a href=""><button>My Wallet</button></a>
        </div>
    </div>
</body>
</html>