<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="/stylesheet/partials/users/footer.css">

<footer>
    <div class="footer-top">
        <div class="newsletter">
            <h3>Subscribe newsletter</h3>
            <div class="newsletter-form">
                <input type="email" placeholder="Email address">
                <button type="submit">
                    <img src="/images/icons/send-2.png" alt="Send" class="icon">
                </button>
            </div>
        </div>
        <div class="contact-info">
            <img src="/images/icons/headphone.png" alt="Phone" class="icon">
            <div>
                <p>Call us 24/7</p>
                <p>(+62) 0123 567 789</p>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="footer-company">
            <img src="/images/icons/CAMZONE.png" alt="CameraZone" class="footer-logo">
            <p>64 st james boulevard</p>
            <p>hoswick, ze2 7zj</p>
            <div class="social-links">
                <a href="#"><img src="/images/icons/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/images/icons/whatsapp.png" alt="Whatsapp"></a>
                <a href="#"><img src="/images/icons/instagram.png" alt="Instagram"></a>
            </div>
        </div>

        <div class="footer-links">
            <div class="footer-section">
                <h4>Find product</h4>
                <a href="#">Brownwe arnold</a>
                <a href="#">Chronograph blue</a>
                <a href="#">Smart phones</a>
                <a href="#">Automatic watch</a>
                <a href="#">Hair straighteners</a>
            </div>

            <div class="footer-section">
                <h4>Get help</h4>
                <a href="#">About us</a>
                <a href="#">Contact us</a>
                <a href="#">Return policy</a>
                <a href="#">Privacy policy</a>
                <a href="#">Payment policy</a>
            </div>

            <div class="footer-section">
                <h4>About us</h4>
                <a href="#">News</a>
                <a href="#">Service</a>
                <a href="#">Our policy</a>
                <a href="#">Customer care</a>
                <a href="#">FAQ's</a>
            </div>
        </div>
    </div>
</footer>