<!-- Sidebar -->
<aside class="sidebar">
    <h3>Account</h3>
    <ul>
        <li class="<%= currentPage === 'profile' ? 'active' : '' %>">
            <a href="/profile">Profile</a>
        </li>
        <li class="<%= currentPage === 'orders' ? 'active' : '' %>">
            <a href="/myOrders">Orders</a>
        </li>
        <li class="<%= currentPage === 'wallet' ? 'active' : '' %>">
            <a href="/wallet">My Wallet</a>
        </li>
        <li class="<%= currentPage === 'rating' ? 'active' : '' %>">
            <a href="#">My Ratings</a>
        </li>
    </ul>
</aside>